{{#if form.label}}
  <label {{>html_attrs form.labelAttrs}}>
    {{form.label}}
  </label>
{{/if}}

{{!--This will work for <select><options></option>...</select>--}}
{{#if form.children}}
{{!--Wrap child fields inside parent field tags--}}
  <{{form.tagName}} {{>html_attrs form.attrs}} >
  {{#each form.children}}
    {{partial_widget this}}
  {{/each}}
  </{{form.tagName}}>
{{else}}
  <{{form.tagName}} {{>html_attrs form.attrs}} />
{{/if}}
