{{!--form.html.hbs (entry point)--}}
{{partial_widget this}}{{!--For a `form` type, this will --}}

{{!--form_widget.html.hbs--}}
{{>form_start form=form }}
{{>form_rows form=form }}
{{>form_end form=form }}

{{!--form_start.html.hbs--}}
<form {{>html_attrs form.attrs}}>

  {{!--form_rows.html.hbs--}}
  {{#each form.children }}
    // will load the partial for
    // child.type + '_widget'
    // and pass the child as the
    {{partial_widget this}}
  {{/each}}


  {{!--form_end.html.hbs--}}
</form>

{{!--html_attrs.html.hbs--}}
{{#each this}}
  "{{@key}}"="{{this}}"
{{/each}}


{{!--field_widget.html.hbs--}}
{{#if form.label}}
  <label {{>html_attrs form.labelAttrs}}>
    {{form.label}}
  </label>
{{/if}}

{{!--This will work for <select><options></option>...</select>--}}
{{#if form.children}}
  {{!--Wrap child fields inside parent field tags--}}
  <{{form.tagName}} {{>html_attrs form.attrs}} >
    {{#each children}}
      {{>partial_widget this}}
    {{/each}}
  </{{form.tagName}}>
{{/if}}


{{!--<input type="text" value="from data option, which is transformed into `attrs`.`value`" placeholder="from attrs.placeholder" />--}}
<{{form.tagName}} {{>html_attrs form.attrs}} />


{{!--option_widget.html.hbs--}}
<{{form.tagName}} {{>html_attrs form.attrs}}>
  {{form.label}}
</{{form.tagName}}>
